<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try Again!</title>
</head>
<! –– This is effectively the same page as the index page, except I'm explaining there was an issue so the user can try again -->
<h1>That search turned up nothing!</h1>
<h2>Let's try that again. Input an artist or album into the search bar.</h2>
<form action="{% url 'results' %}" method="get">
    <label>
        <input type="text" name="search" placeholder="Search for band/artist" pattern="[a-zA-Z0-9\s.]+" value="{{request.GET.title}}" required minlength="1" maxlength = "25" oninvalid="this.setCustomValidity('Need an artist')" oninput="this.setCustomValidity('')"/>
        <button type="submit" name="searchType" value="artist"> Search Artists </button>
        <button type="submit" name="searchType" value="album"> Search Albums </button>
    </label>
</form>
</body>
</html>